rea_aug/Assets/Plugins
rea_aug/Library
.vs/
*.dll
*.lib
Library/
Temp/
Builds/
Tests/
*.csproj
*.sln
rea_aug/ProjectSettings/DynamicsManager.asset
rea_aug/ProjectSettings/Physics2DSettings.asset
rea_aug/ProjectSettings/ProjectSettings.asset
rea_aug/ProjectSettings/ProjectVersion.txt
rea_aug/UnityPackageManager/manifest.json
rea_aug/ProjectSettings/DynamicsManager.asset
rea_aug/ProjectSettings/Physics2DSettings.asset
rea_aug/ProjectSettings/ProjectSettings.asset
rea_aug/ProjectSettings/ProjectVersion.txt
rea_aug/ProjectSettings/DynamicsManager.asset
rea_aug/ProjectSettings/Physics2DSettings.asset
rea_aug/ProjectSettings/ProjectSettings.asset
rea_aug/ProjectSettings/ProjectVersion.txt
